<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h1><%= title %></h1></title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 col-md-offset-4">
                <!--card 1-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">managers</div>
                    <div class="card-body">
                        <h4 class="card-title">Space for Managers</h4>
                        <a href="/api/data/admin" type="submit" class="btn btn-outline-success btn-sm btn-block" >managers</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 2-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        <h4 class="card-title">Employee Information Space</h4>
                        <a href="/api/data/user" type="submit" class="btn btn-outline-success btn-sm btn-block" >managers</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 3-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">View Info</div>
                    <div class="card-body">
                        <h4 class="card-title">Space to View Employee Information</h4>
                        <a href="/api/info" type="submit" class="btn btn-outline-success btn-sm btn-block" >managers</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/" type="submit" class="btn btn-outline-success btn-lg btn-block" >Home</a>
    </div>
</body>
</html>
