<table class="table table-bordered table-hober text-center">
    <thead>
        <tr class="table-dark">
            <th scope="col">n°</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <br>
    <tbody>
        <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr class="table-dark">
                <td><%= (i + 1) %></td>
                <td><%= data[i].cedula %></td>
                <td><%= data[i].nombre %></td>
                <td><%= data[i].apellido %></td>
                <td><%= data[i].email %></td>
                <td>
                    <a href="/" type="submit" class="btn btn-outline-success btn-sm">Home</a>
                    <a href="/api/data/generate<%= data[i].id %>" class="btn btn-outline-primary btn-sm">Generate</a>
                    <a href="/api/data/user/<%= data[i].id %>" class="btn btn-outline-info btn-sm">Edit</a>
                    <a href="/api/data/delete/<%= data[i].id %>" class="btn btn-outline-danger btn-sm">Delete</a>
                    <br>
                </td>
            </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
